<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/PatternLayout">
<head>
	<title>Cadastro de Estilo</title>
</head>
<body>
<section class="aw-layout-content  js-content" layout:fragment="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de Estilo
			</h1>
		</div>
	</div>
	
	<th:block th:include="fragments/SuccessMessage"></th:block>
	<div class="container-fluid">
		<form method="POST" th:object="${style}" class="form-vertical  js-form-loading" th:action="@{/styles/new}">
			<th:block th:include="fragments/ValidationErrorMessages"></th:block>
		
			<div class="row">
				<div class="col-sm-12 form-group bw-required" th:classappend="${#fields.hasErrors('name')} ? has-error">
					<label for="name" class="control-label">Nome</label>
					<input id="name" name="name" type="text" class="form-control"/>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
	
		</form>
	</div>
	
	<div th:replace="style/FastRegisterStyle::modal"></div>
</section>
</body>
</html>