<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layouts/PatternLayout}"
	xmlns:brewer="http://brewer.velasco.com">
<head>
	<title>Cadastro de Cliente</title>
</head>
<body>
<section class="aw-layout-content  js-content" layout:fragment="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="col-sm-10">
				<h1>Cadastro de Cliente</h1>
			</div>
			
			<div class="col-sm-2">
				<div class="aw-page-header-controls">
					<a class="btn btn-default" th:href="@{/clients/}">
						<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Pesquisar Cliente</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${client}" class="js-form-loading" th:action="@{/clients/new}">
			<brewer:message />
		
			<div class="row">
				<div class="col-sm-12 form-group bw-required" brewer:classforerror="name">
					<label for="name"  class="control-label">Nome</label>
					<input id="name" type="text" class="form-control" autofocus="autofocus" th:field="*{name}"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 form-group bw-required"  brewer:classforerror="peopleType">
					<label for="peopleType" class="control-label">Tipo Pessoa</label>
					<div>
						<th:block th:each="peopleType : ${peopleTypes}">
							<div class="radio radio-inline">
								<input type="radio" th:field="*{peopleType}" th:value="${peopleType}" th:id="|id_${peopleType}|" data:document="${peopleType.document}" data:maskara="${peopleType.mask}"
									class="js-radio-people-type">
								<label class="control-label" th:for="|id_${peopleType}|" th:text="${peopleType.description}">Física</label>
							</div>
						</th:block>
					</div>
				</div>
				<div class="col-sm-8 form-group bw-required" brewer:classforerror="cpfCnpj">
					<label for="cpfCnpj"  class="control-label">CPF/CNPJ</label>
					<input id="cpfCnpj" type="text" class="form-control" th:field="*{cpfCnpj}" disabled/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 form-group">
					<label for="telephone">Telefone</label>
					<input id="telephone" type="text" class="form-control js-phone" th:field="*{phone}"/>
				</div>
				<div class="col-sm-8 form-group">
					<label for="email" class="control-label">Email</label>
					<input id="email" type="email" class="form-control" th:field="*{email}"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 form-group">
					<label for="publicPlace">Logradouro</label>
					<input id="publicPlace" type="text" class="form-control" th:field="*{address.publicPlace}"/>
				</div>
				<div class="col-sm-4 form-group">
					<label for="number">Número</label>
					<input id="number" type="number" class="form-control" th:field="*{address.number}"/>
				</div>
				<div class="col-sm-4 form-group">
					<label for="complement">Complemento</label>
					<input id="complement" type="text" class="form-control" th:field="*{address.complement}"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 form-group">
					<label for="cep">CEP</label>
					<input id="cep" type="text" class="form-control js-cep" th:field="*{address.cep}" />
				</div>
				
				<div class="form-group  col-sm-4">
					<label for="state">Estado</label>
					<select id="state" class="form-control" th:field="*{address.state}">
	                    <option value="">Selecione o estado</option>
	                    <option th:each="state : ${states}" th:value="${state.id}" th:text="${state.name}">São Paulo</option>
	                </select>
				</div>
				
				<div class="col-sm-4 form-group">
					<label for="city">Cidade</label>
					<div class="bw-field-action">
						<input type="hidden" id="idCitySelected" th:value="*{address.city} != null ? *{address.city.id}">
						<select id="city" class="form-control" data:url="@{/cities}"  th:field="*{address.city}">
							
						</select>
						<div class="bw-field-action__icon js-img-loading" style="display: none">
							<img th:src="@{/images/mini-loading.gif}">
						</div>
					</div>
				</div>
			</div>
				
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
		</form>
	</div>
	
</section>
</body>

<th:block layout:fragment="javascript-extra">
	
</th:block>
</html>