<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/PatternLayout}"
	xmlns:brewer="http://brewer.velasco.com">
<head>
	<title>Cadastro de Cidade</title>
</head>
<body>
<section class="aw-layout-content  js-content" layout:fragment="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de Cidade
			</h1>
		</div>
	</div>

	<div class="container-fluid">
   <!--<div class="alert  alert-danger  alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado.
		</div> -->

		<form method="POST" th:object="${city}" class="form-vertical  js-form-loading">
			<brewer:message />
			
			<div class="row">
				<div class="col-sm-4 bw-required"  brewer:classforerror="state">
					<label for="state">Estado</label>
					<select id="state" class="form-control"  th:field="*{state}" >
						<option value="">Selecione o Estado</option>
						<option th:each="state : ${states}" th:value="${state.id}" th:text="${state.name}">São Paulo</option>
					</select>
				</div>
				<div class="col-sm-8 form-group bw-required" brewer:classforerror="name">
					<label for="name">Nome</label>
					<input id="name" type="text" class="form-control" th:field="*{name}" />
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
	
		</form>
	</div>
	
	<div th:replace="style/FastRegisterStyle::modal"></div>
</section>
</body>
</html>